:root {
  --purple-bg: #290742;
  --dark-bg: #170027;
  --button-bg: #9e6dc2;
  --white: #fff;
  --light-purple: #fbf6;
  --green: #4fff4b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.blog-header {
  background-color: var(--purple-bg);
  height: 587px;
  

}
.wrapper {
  margin-right: auto; 
  margin-left: auto; 
  max-width:1160px; 
  padding-right: 10px; 
  padding-left: 10px;
  padding-top: 64px; 
  }

.site-header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-list {
  display: flex;
}

.nav-item {
  list-style: none;
  margin-right: 2rem;
}

.nav-item a {
  text-decoration: none;
  color: #fff;
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
}

.nav-item a:hover {
  color: var(--green);
  transition: all 200ms ease-in;
}

input {
  background-color: #170027;
  border-radius: 4px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border: none;
  width: 230px;
  height: 44px;
  color: #fff;
}

.search input::placeholder {
  font-family: 'Roboto';
  font-weight: 400px;
  font-size: 14px;
  line-height: 16px;
}

button {
  background-color: #fbf6;
  border-radius: 4px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
  border: none;
  width: 70px;
  height: 44px;
  float: right;
  cursor: pointer;
  transition: all 200ms ease-in;
}

button:hover {
  background-color: #170027;
}

.content-header {
  display: flex;
  flex-direction: row;
  
}

.content-header h1 {
  font-family: 'Poppins';
  font-style: Bold;
  font-size: 36px;
  line-height: 54px;
  text-align: left;
  color: var(--light-purple);
  font-weight: 700;
}

.content-header p {
  font-family: 'Roboto';
  font-size: 18px;
  line-height: 27px;
  text-align: left;
  color: var(--white);
  padding-top: 30px;
  font-weight: 400;
}

.content-header h4 {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  color: var(--light-purple);
  padding-top: 30px;
}