.head {
  display: flex;
  background-color: #290742;
  height: 500px;
  justify-content: space-between;
}

.logoimg {
  width: 200px;
  height: 100px;
}

.menus {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}